html {
  font-family: var(--font-family);
  font-weight: 300;
  color: var(--text-color);
  line-height: var(--font-lineheight);
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  margin:0;
}

input[readonly] {
  cursor: default;
}
a {
  text-decoration: none;
}

[data-placeholder]:empty:before{
  content: attr(data-placeholder);
  color: #888;
}
th{
  white-space: nowrap;
}

body{
  height:100%;
  min-width:2000px;
}

#__next{
  height:100%;
}
